In [2]:
import pymongo
import pandas as pd

In [5]:
client = pymongo.MongoClient('localhost', 27017)

In [6]:
db = client['chapter3']

In [7]:
collection = db['income']

In [14]:
income_df = pd.DataFrame(list(collection.find()))

In [16]:
income_df.head()

,_id,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,label
0,5ec41e61a300ba01e39694a4,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,5ec41e61a300ba01e39694a5,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,5ec41e61a300ba01e39694a6,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,5ec41e61a300ba01e39694a7,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,5ec41e61a300ba01e39694a8,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [17]:
income_df.describe()

                age
count  32561.000000
mean      38.581647
std       13.640433
min       17.000000
25%       28.000000
50%       37.000000
75%       48.000000
max       90.000000

In [21]:
income_df.mean(0)

age    38.581647
dtype: float64